html {
    background: #FFFFFF/*#303030*/;
    color: #CC0066;
    font-family: Courier, sans-serif;
    font-size: 18px;
}

h1, a, a:visited, pre {
    color: #CC0066;
}

.keyboard {
    width: 600px;
    height: 300px;
}

.Key{
    display :inline-block;
    border-radius: 3px;
}
.WhiteKey{
    background-color: #FFFFFF /*#303030*/;
    /*position: relative;*/
    /*position: absolute;*/
    border-style: solid;
    border-width:1px;
    border-color: #000000/*#CC0066*/;
    border-right-width: 0;
    width: 47px;
    height:218px;
    border-radius:"4px 4px 5px 5px"
}
.WhiteKeyActive{
    background-color: hsl(330, 100%, 40%);
    /*position: relative;*/
    /*position: absolute;*/
    border-style: solid;
    border-width:1px;
    border-color:#CC0066;
    border-right-width: 0;
    width: 47px;
    height:218px;
    border-radius:"4px 4px 5px 5px"
}
.BlackKey{
    background-color: black;
    border-style: solid;
    border-width:1px;
    border-color: #000000/*#CC0066*/;
    /*position:relative;*/
    position: absolute;
    /*Math.floor(((white_key_width + 1) * (key.noteNumber + 1)) - (black_key_width / 2)) + 'px';*/
    border-right-width: 1px;
    width: 23px;
    /*white key/1.5*/
    height:147px;
    border-radius:"4px 4px 5px 5px"
    /*left: -10;*/
}
.BlackKeyActive{
    background-color: #CC0066;
    border-style: solid;
    border-width:1px;
    border-color:#CC0066;
    /*position:relative;*/
    position: absolute;
    /*Math.floor(((white_key_width + 1) * (key.noteNumber + 1)) - (black_key_width / 2)) + 'px';*/
    border-right-width: 1px;
    width: 23px;
    /*white key/1.5*/
    height:147px;
    border-radius:"4px 4px 5px 5px"
    /*left: -10;*/
}
